USE [Complaintdb]
GO
/****** Object:  Table [dbo].[Complaint_Master]    Script Date: 25-03-2026 09:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint_Master](
	[ComplaintId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityType] [varchar](200) NULL,
	[Location] [varchar](100) NULL,
	[IssueDetails] [varchar](max) NULL,
	[Status] [varchar](30) NULL,
	[ReportDate] [datetime] NULL,
 CONSTRAINT [PK_Complaint_Master] PRIMARY KEY CLUSTERED 
(
	[ComplaintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enquiry_Master]    Script Date: 25-03-2026 09:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enquiry_Master](
	[EnqId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](200) NULL,
	[MobileNo] [varchar](15) NULL,
	[Subject] [varchar](300) NULL,
	[Message] [varchar](max) NULL,
	[EnquiryDate] [datetime] NULL,
 CONSTRAINT [PK_Enquiry_Master] PRIMARY KEY CLUSTERED 
(
	[EnqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_Master]    Script Date: 25-03-2026 09:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_Master](
	[AdminId] [varchar](400) NOT NULL,
	[Password] [varchar](300) NULL,
 CONSTRAINT [PK_login_Master] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Master]    Script Date: 25-03-2026 09:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Master](
	[NotiId] [int] IDENTITY(1,1) NOT NULL,
	[NotiMessage] [varchar](max) NULL,
	[AddedOn] [datetime] NULL,
 CONSTRAINT [PK_Notification_Master] PRIMARY KEY CLUSTERED 
(
	[NotiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Complaint_Master] ON 

INSERT [dbo].[Complaint_Master] ([ComplaintId], [FacilityType], [Location], [IssueDetails], [Status], [ReportDate]) VALUES (1, NULL, NULL, NULL, NULL, CAST(N'2026-03-15T14:01:37.243' AS DateTime))
INSERT [dbo].[Complaint_Master] ([ComplaintId], [FacilityType], [Location], [IssueDetails], [Status], [ReportDate]) VALUES (2, NULL, NULL, NULL, NULL, CAST(N'2026-03-15T14:02:28.387' AS DateTime))
INSERT [dbo].[Complaint_Master] ([ComplaintId], [FacilityType], [Location], [IssueDetails], [Status], [ReportDate]) VALUES (3, NULL, NULL, NULL, NULL, CAST(N'2026-03-15T14:07:00.757' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Complaint_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[Enquiry_Master] ON 

INSERT [dbo].[Enquiry_Master] ([EnqId], [Name], [Email], [MobileNo], [Subject], [Message], [EnquiryDate]) VALUES (4, N'aman signh', N'amansingh@gmail.com', N'8976654567', N'about my complaint', N'when will it be fixed', CAST(N'2026-03-15T12:43:20.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[Enquiry_Master] OFF
GO
INSERT [dbo].[login_Master] ([AdminId], [Password]) VALUES (N'dev@gmail.com', N'1234dev')
GO
SET IDENTITY_INSERT [dbo].[Notification_Master] ON 

INSERT [dbo].[Notification_Master] ([NotiId], [NotiMessage], [AddedOn]) VALUES (1, N'complaint successfully fixed!', CAST(N'2026-03-14T16:54:15.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notification_Master] OFF
GO
