
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/shared/_General_Layout.cshtml";
}

<h2>ContactUs</h2>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.438617552704!2d82.91803917595392!3d25.255826529322352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e32d8078a2c2f%3A0xa6813f724988d305!2sSchool%20of%20Management%20Sciences-%20SMS%20Varanasi!5e0!3m2!1sen!2sin!4v1773426802242!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

