
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Subject</title>
</head>
<body>
    <div>
        <form action="/Home/Subject" method="post">
            <input type="text" placeholder="enter your name" name="name" /><br />
            <input type="number" placeholder="enter marks for subject1" name="marks1" /> <br />
            <input type="number" placeholder="enter marks for subject2" name="marks2" /> <br />
            <input type="number" placeholder="enter marks for subject3" name="marks3" /> <br />
            <input type="number" placeholder="enter mark for subject4" name="marks4" /> <br />
            <input type="number" placeholder="enter marks for subject5" name="marks5" /> <br />
            <input type="submit" value="submit" />
        </form>
        @ViewBag.Res
        @ViewBag.Result
    </div>
</body>
</html>
